.pd-l {
    padding-left: px2vw(390);
}
.pd-r {
    padding-right: px2vw(390);
}

.line {
    width: 100%;
    height: 1px;
    background: $black;
    display: block;
    margin: px2vw(20) 0 px2vw(26);
}

.circle-icon {
    width: px2vw(196);
    height: px2vw(196);
    position: relative;

    .i {
        width: 100%;
        height: 100%;
        display: block;
    }
    .c {
        display: block;
        position: absolute;
        width: 123%;
        height: 123%;
        border-radius: 50%;
        border: 1px solid $white;
    }
}

.welcome {
    margin-top: clamp(60px, px2vw(80), 100px);
    height: px2vw(600);
    width: 100%;
    background: url("../img/bg/welcome.png") center/contain no-repeat;
    display: flex;
    align-items: center;
    position: relative;

    p {
        margin: px2vw(20) 0;
    }

    .years-50 {
        position: absolute;
        top: px2vw(68);
        right: px2vw(404);
        width: px2vw(173);
        height: px2vw(173);
        background: url("../img/50.svg") center/contain no-repeat;
    }
}

.description {
    display: flex;
    align-items: center;
    background: #e9e9e9;
    position: relative;

    .text-block {
        margin: px2vw(150) 0 px2vw(170);
        display: flex;
        z-index: 2;

        &::before,
        &::after {
            content: "";
            width: px2vw(48);
            height: px2vw(48);
            min-width: 30px;
            min-height: 30px;
            background: url("../img/br.svg") center/contain no-repeat;
            display: block;
        }

        &::before {
            transform: translateY(-50%);
        }
        &::after {
            transform: translateY(85%) rotate(180deg) scale(1.4) translateX(-33%);
            align-self: flex-end;
        }

        p {
            color: #232323;
            font-size: clamp(18px, px2vw(30), 35px);
            position: relative;
            margin: 0 px2vw(45);
            line-height: 120%;

            .name {
                position: absolute;
                right: 0;
                top: 100%;
                margin-top: px2vw(30);
                font-weight: 700;
                font-size: clamp(16px, px2vw(24), 28px);
            }
        }
    }

    .man {
        position: absolute;
        right: px2vw(284);
        bottom: 0;
        width: px2vw(628);
        height: px2vw(440);
        background: url("../img/bg/man.png") center/contain no-repeat;
    }
}

.why-invest {
    padding-top: px2vw(187);
    padding-bottom: px2vw(150);
    display: flex;
    flex-direction: column;

    .column {
        display: flex;

        .icon {
            width: px2vw(463);
            height: px2vw(402);
            background: url("../img/bg/bg.png") center/contain no-repeat;
            flex: none;
            margin-right: px2vw(73);

            p {
                font-size: px2vw(28);
                font-weight: 500;
                margin: px2vw(95) 0 0 px2vw(95);
            }
        }

        ul {
            list-style-type: none;

            li:not(:last-of-type) {
                border-bottom: 1px solid #d5d5d5;
            }

            p {
                color: #151619;
                padding: px2vw(20) px2vw(100) px2vw(15) 0;
                display: flex;
                align-items: center;

                &::before {
                    content: "";
                    display: block;
                    width: px2vw(24);
                    height: px2vw(24);
                    min-width: 15px;
                    min-height: 15px;
                    background: url("../img/d.svg") center/contain no-repeat;
                    margin-right: px2vw(20);
                }
            }
        }
    }
}

.preparing {
    padding-top: px2vw(150);
    padding-bottom: px2vw(250);

    .text-block {
        display: flex;
        flex-direction: column;

        .icon {
            width: 100%;
            height: px2vw(250);
            background: url("../img/bg/bg2.png") center/contain no-repeat;
            display: flex;
            align-items: center;

            p {
                font-size: px2vw(28);
                font-weight: 500;
                margin: 0 0 0 px2vw(95);
            }
        }

        .text {
            display: flex;
            justify-content: space-between;
            margin-top: px2vw(25);

            p {
                width: 47%;
                color: #151619;

                span {
                    font-weight: 700;
                }
            }
        }
    }
}

.gold {
    display: flex;

    &__dark {
        background: #212121;
        padding-top: px2vw(135);
        width: 50%;
        // padding-right: px2vw(75);

        .text {
            display: flex;

            .circle-icon {
                margin-right: px2vw(18);
                transform: translateY(33%);

                .i{
                    background: url("../img/bg/circle1.png") center/contain no-repeat;
                }

                .c{
                    top: 30%;
                    left: 30%;
                    z-index: -1;
                }
            }
        }

        h2 {
            color: $white;
        }
    }
    &__gray {
        background: #e9e9e9;
        padding-top: px2vw(135);
        padding-bottom: px2vw(135);
        width: 50%;
        padding-left: px2vw(115);

        p {
            color: #151619;

            span {
                font-weight: 700;
            }
        }
    }
}

.our-site{
    padding-top: px2vw(180);

    .text-block{
        text-align: center;

        .columns{
            width: 100%;
            display: flex;
            border: 1px solid #212121;
            margin-top: px2vw(-20);
            background: $white;
            // margin-bottom: -40px;
            transform: translateY(px2vw(60));

            .column{
                flex: 1;
                padding: px2vw(130) px2vw(40) px2vw(90);

                &:not(:last-of-type){
                    border-right: 1px solid #212121;
                }

                h4{
                    color: #252525;
                    text-transform: uppercase;
                }

                .l{
                    height: 1px;
                    width: px2vw(90);
                    background: #252525;
                    margin: px2vw(22) auto;
                    display: block;
                }
                p{
                    color: #252525;
                }
            }
        }
    }
}

.diversify{
    background: #212121;
    height: 50vh;
}