// Normalize
@import "normalize.css";

//Components
@import "include/functions";
@import "include/components/variables";
@import "include/components/mixins"; 
@import "include/components/fonts";
@import "include/components/general"; 

//Layout
@import "include/layout/header";
@import "include/layout/footer";

//Page
@import "include/pages/home"; 
  
*,
// *:focus,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}