.header {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: clamp(60px, px2vw(80), 100px);

    .logo,
    .tell {
        font-family: $montserrat-bold;
        font-size: px2vw(24);
        color: #232323;
    }

    .tell {
        display: flex;
        align-items: center;
        &::before {
            content: "";
            width: px2vw(30);
            height: px2vw(30);
            background: url("../img/tell.svg") center/contain no-repeat;
            margin-right: px2vw(20);
            display: inline-block;
        }
    }

    nav {
        display: flex;
        align-items: center;
    }

    .toggle-main {
        display: flex;
        flex-direction: column;
        margin-left: px2vw(35);
        cursor: pointer;

        span {
            width: px2vw(77);
            height: 2px;
            background: #232323;
            margin: px2vw(5) 0;
        }
    }
}
