.header {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: clamp(60px, px2vw(80), 100px);
    z-index: 100;

    .logo,
    .tell {
        font-family: $montserrat-bold;
        font-size: clamp(14px, px2vw(24), 28px);
        color: #232323;
    }

    .tell {
        display: flex;
        align-items: center;

        .i {
            width: px2vw(30);
            height: px2vw(30);
            min-width: 20px;
            min-height: 20px;
            margin-right: px2vw(20);
            display: inline-block;

            @include sm{
                margin-right: 20px;

            }

            svg {
                width: 100%;
                height: 100%;

                path {
                    transition: 0.3s ease;
                }
            }
        }
        .t{
            @include sm{
                display: none;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
    }

    .toggle-main {
        display: flex;
        flex-direction: column;
        margin-left: px2vw(35);
        cursor: pointer;

        span {
            width: px2vw(77);
            min-width: 30px;
            height: 2px;
            background: #232323;
            margin: px2vw(5) 0;
            transition: 0.3s ease;

            @include md-2{
                margin: 2px 0;
            }

        }

        &:hover span {
            background: $button;
        }
    }
}

.main-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    transition: background-color 1s ease;
    background-color: transparent;
    z-index: 1001;
    pointer-events: none;

    .menu {
        height: 100%;
        background: $white;
        padding-top: px2vw(120);
        padding-left: px2vw(90);
        transform: translateX(100%);
        transition: 0.5s ease;

        @include sm{
            width: 100%;
            transform: none;
            opacity: 0;
            padding: 60px 12vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        nav {
            display: flex;
            flex-direction: column;
            max-width: px2vw(368);
            min-width: 300px;

            @include sm{
                max-width: 100%;
                min-width: auto;
                align-items: center;
                text-align: center;
            }

            a {
                color: #232323;
                font-size: clamp(14px, px2vw(30), 42px);
                font-family: $montserrat-bold;
                text-transform: uppercase;
                padding: px2vw(20) 0;
            }

            .line {
                background: #c4c4c4;
            }

            .button {
                margin-top: px2vw(26);

                @include sm{
                    margin-top: 30px;
                }
            }
        }

        .toggle-main {
            position: absolute;
            right: px2vw(390);
            top: px2vw(120);
            width: px2vw(30);
            height: px2vw(30);
            min-height: 25px;
            min-width: 25px;
            cursor: pointer;
            transform: translateY(-100%);

            @include md-2{
                right: 13vw;
            }

            @include sm{
                right: 12vw;
                top: 30px;
                transform: none;
            }

            svg {
                width: 100%;
                height: 100%;

                path {
                    transition: 0.3s ease;
                }
            }

            &:hover {
                svg path {
                    stroke: $button;
                }
            }
        }
    }
}

.openMain {
    overflow: hidden;

    .main-menu {
        background-color: #23232380;
        pointer-events: auto;

        @include sm{
            background-color: transparent;
        }



        .menu {
            transform: translateX(0);

            @include sm{
                opacity: 1;
            }
        }
    }
}

.form_pop-up {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    background-color: #23232380;
    z-index: 1001;
    pointer-events: none;
    opacity: 0;

    .form {
        background: $white;
        display: flex;
        flex-direction: column;
        padding: px2vw(70) px2vw(80);
        position: relative;

        @include sm{
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 0 12vw;
            align-items: center;
        }

        h2 {
            font-size: clamp(16px, px2vw(18), 24px);
            text-align: center;
            margin-bottom: px2vw(20);

            @include sm{
                margin-bottom: 15px;
            }
        }

        form {
            display: flex;
            flex-direction: column;

            @include sm{
                width: 100%;
                max-width: 300px;

            }

            label {
                width: px2vw(370);
                min-width: 350px;
                background: #f4f4f4;
                border: 1px solid #000000;
                margin-bottom: clamp(15px, px2vw(15), 25px);
                height: px2vw(40);
                min-height: 35px;
                position: relative;
                display: flex;
                align-items: center;

                @include sm{
                    width: 100%;
                    min-width: auto;
                    margin-bottom: 20px;
                    min-height: 40px;
                }

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: none;
                    @extend p;
                    padding: 0 15px;
                    color: #151619;

                    &::placeholder {
                        color: #828282;
                        font-family: $lato-r;
                        font-size: clamp(12px, px2vw(14), 16px);
                    }

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                input[type="file"] {
                    visibility: hidden;
                    cursor: pointer;
                    position: absolute;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                }

                &.file {
                    cursor: pointer;
                }

                .ph {
                    color: #828282;
                    font-family: $lato-r;
                    font-size: clamp(12px, px2vw(14), 16px);
                    padding: 0 15px;
                }
            }
            .button {
                position: relative;
                input {
                    position: absolute;
                    visibility: hidden;
                }
            }
        }

        .close {
            position: absolute;
            top: px2vw(20);
            right: px2vw(30);
            width: px2vw(24);
            height: px2vw(24);
            min-width: 20px;
            min-height: 20px;
            cursor: pointer;

            @include sm{
                right: 12vw;
                top: 30px;
            }

            svg {
                width: 100%;
                height: 100%;

                path {
                    transition: 0.3s ease;
                }
            }

            &:hover {
                svg path {
                    stroke: $button;
                }
            }
        }
    }
}

.openForm {
    overflow: hidden;

    .form_pop-up {
        pointer-events: auto;
        opacity: 1;
    }
}

.send_pop-up {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    background-color: #23232380;
    z-index: 1001;
    pointer-events: none;
    opacity: 0;

    .send {
        background: $white;
        display: flex;
        flex-direction: column;
        padding: px2vw(70) px2vw(80);
        position: relative;
        text-align: center;

        @include sm{
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 0 12vw;
        }

        h2 {
            font-size: clamp(16px, px2vw(18), 24px) ;
            text-transform: none;
        }

        p {
            color: #232323;
            margin: px2vw(22) 0 px2vw(40);

            @include sm{
                margin: 30px 0 10px;
            }
        }

        .btn {
            display: flex;
            justify-content: space-between;
            width: px2vw(370);
            min-width: 350px;

            @include sm{
                flex-direction: column;
                align-items: center;
                min-width: auto;
                width: auto;
            }

            .b {
                font-size: clamp(12px, px2vw(18), 22px);
                width: 47%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: px2vw(15) 0;
                text-transform: none;
                border: 1px solid transparent;
                transition: 0.3s ease;
                color: $white;
                font-family: $montserrat-bold;

                @include sm{
                    width: 100%;
                    max-width: 300px;
                    padding: 10px;
                    margin: 10px 0;
                }

                .i {
                    width: px2vw(24);
                    height: px2vw(24);
                    min-width: 20px;
                    min-height: 20px;
                    margin-right: px2vw(16);

                    svg {
                        width: 100%;
                        height: 100%;

                        path {
                            transition: 0.3s ease;
                        }
                    }
                }

                &.wt {
                    background: #66d17e;

                    &:hover {
                        color: #66d17e;
                        background-color: transparent;
                        border-color: #66d17e;

                        svg path {
                            fill: #66d17e;
                        }
                    }
                }
                &.tg {
                    background: #70bdf4;

                    &:hover {
                        color: #70bdf4;
                        background-color: transparent;
                        border-color: #70bdf4;

                        svg path {
                            fill: #70bdf4;
                        }
                    }
                }
            }
        }

        .close {
            position: absolute;
            top: px2vw(20);
            right: px2vw(30);
            width: px2vw(24);
            height: px2vw(24);
            min-width: 20px;
            min-height: 20px;
            cursor: pointer;

            @include sm{
                right: 12vw;
                top: 30px;
            }

            svg {
                width: 100%;
                height: 100%;

                path {
                    transition: 0.3s ease;
                }
            }

            &:hover {
                svg path {
                    stroke: $button;
                }
            }
        }
    }
}

.openSendPopUp {
    overflow: hidden;

    .send_pop-up {
        pointer-events: auto;
        opacity: 1;
    }
}
