button {
    background: none;
    border: none;
    font-family: $montserrat-bold;
    font-size: clamp(10px, px2vw(16), 20px);
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
}
.button{
    background: $button;
    padding: px2vw(15) px2vw(77);
    transition: .3s ease;
    border: 1px solid transparent;

    &:hover{
        color: $button;
        background: $white;
        border-color: $button;
    }
}

a{
    text-decoration: none;

}

body, html{
    color: $white;
    font-family: $lato-r;
    @include no-scrollbar;
}


.hover{
    transition: .3s ease;

    &:hover{
        color: $button !important;

        svg path{
            fill: $button;
        }
    }
}